*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131a1c;
}

.loader{
    position:relative;
    width:300px;
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    /*Essa animações faz alterar a cor das  estrelas*/
    animation: animateColor 7.2s linear infinite;
}

@keyframes animateColor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.loader span{
    position:absolute;
    transform-origin: 150px;
    transform: translateX(-150px) rotate(calc(var(--i) * 30deg));
    filter: drop-shadow(0 0 5px #3cc2ff) drop-shadow(0 0 30px #3cc2ff)
}

.loader span i{
    position: relative;
    color: #3cc2ff;
    animation: rotate-stars 2.4s linear infinite;
    /* Esse delay faz com que uma estrela de cada vez cresça e pisque*/
    animation-delay: calc(var(--i) * -0.2s);
}

@keyframes rotate-stars{
    0%{
        transform: rotate(0deg) scale(0);
    }
    50%{
        transform: rotate(180deg) scale(3);
    }
    100%{
        transform: rotate(360deg) scale(0);
    }

}